[submodule "ansible/playbooks/setup/ansible-secure-ssh"]
	path = ansible/playbooks/roles/ansible-secure-ssh
	url = https://github.com/vitalk/ansible-secure-ssh
[submodule "ansible/playbooks/roles/ansible-ssh-hardening"]
	path = ansible/playbooks/roles/ansible-ssh-hardening
	url = https://github.com/dev-sec/ansible-ssh-hardening.git
